flask==2.3.3
flask-cors==4.0.0
numpy==1.23.5
pandas==1.5.3
opencv-python==4.8.0.74
nltk==3.8.1
scikit-learn==1.2.2
joblib==1.2.0
tensorflow==2.12.0
google-auth==2.23.3
google-auth-oauthlib==1.0.0
google-api-python-client==2.104.0
python-dotenv==1.0.0
sounddevice==0.4.6
xgboost==1.7.6
openai-whisper==20231117
ffmpeg-python==0.2.0
